/* TODOS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    background-color: white;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Inter', 'Roboto', 'Tahoma', sans-serif;
}

.img-fluid {
    max-width: 100%;
}

header,
footer {
    background-color: #043873;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: flex;
}

.display-none {
    display: none;
}

.banner-principal .container {
    min-height: 522px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}


/* fim do boilerplate*/


/* MOBILE */

.navbar .row {
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.logo img {
    height: 18.56px;
}

.logo {
    font-weight: 700;
    font-size: 19.64px;
}

.container {
    width: 100%;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
}

.menu-mobile .botao-menu {
    height: 24px;
}

.banner-principal {
    background-color: #043873;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-image: url('assets/image/Mobile/Element.svg');
}

a.botao {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
}

a.botao-primario {
    background-color: #4F9CF9;
    color: white
}

a.botao-secundario {
    background-color: #FFE492;
    color: black;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-links a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none !important;
}

.banner-principal {
    color: white;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

footer>.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workdiv {
    min-height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TABLETs */

@media screen and (min-width: 768px) {
    .col-tablet-10 {
        width: 10%;
    }
    .col-tablet-20 {
        width: 20%;
    }
    .col-tablet-30 {
        width: 30%;
    }
    .col-tablet-40 {
        width: 40%;
    }
    .col-tablet-50 {
        width: 50%;
    }
    .col-tablet-60 {
        width: 60%;
    }
    .col-tablet-70 {
        width: 70%;
    }
    .col-tablet-80 {
        width: 80%;
    }
    .col-tablet-90 {
        width: 90%;
    }
    .col-tablet-100 {
        width: 100%;
    }
    .display-tablet-block {
        display: block;
    }
    .display-tablet-flex {
        display: flex;
    }
    .display-tablet-inline {
        display: flex;
    }
    .display-tablet-none {
        display: none;
    }
    .text-tablet-right {
        text-align: right;
    }
    .text-tablet-left {
        text-align: left;
    }
    .text-tablet-center {
        text-align: center;
    }
    .justify-content-tablet-center {
        justify-content: center;
    }
    .justify-content-tablet-between {
        justify-content: space-between;
    }
    .navbar .row {
        height: 66px;
    }
    .container {
        max-width: 728px;
    }
    .logo img {
        height: 26px;
    }
    .logo {
        font-weight: 700;
        font-size: 28px;
    }
    .menu-mobile .botao-menu {
        height: 34px;
    }
    .banner-principal {
        background-image: url('assets/image/Tablet/Element.svg');
        background-size: contain;
        background-position: center;
    }
    .banner-principal .container {
        min-height: 584px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer>.row {
        min-height: 137px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        font-size: 54px;
    }
    .worktogether {
        min-width: 248px;
    }
    .workdiv {
        min-height: 1000px;
    }
}


/* DESKTOP */

@media screen and (min-width: 1260px) {
    .col-desktop-10 {
        width: 10%;
    }
    .col-desktop-20 {
        width: 20%;
    }
    .col-desktop-30 {
        width: 30%;
    }
    .col-desktop-40 {
        width: 40%;
    }
    .col-desktop-50 {
        width: 50%;
    }
    .col-desktop-60 {
        width: 60%;
    }
    .col-desktop-70 {
        width: 70%;
    }
    .col-desktop-80 {
        width: 80%;
    }
    .col-desktop-90 {
        width: 90%;
    }
    .col-desktop-100 {
        width: 100%;
    }
    .display-desktop-block {
        display: block;
    }
    .display-desktop-flex {
        display: flex;
    }
    .display-desktop-inline {
        display: flex;
    }
    .display-desktop-none {
        display: none;
    }
    .text-desktop-right {
        text-align: right;
    }
    .text-desktop-left {
        text-align: left;
    }
    .text-desktop-center {
        text-align: center;
    }
    .justify-content-desktop-center {
        justify-content: center;
    }
    .justify-content-desktop-between {
        justify-content: space-between;
    }
    .container {
        max-width: 1240px;
    }
    .navbar .row {
        height: 92px;
    }
    .banner-principal {
        background-image: url('assets/image/Desktop/Element.svg');
    }
    .banner-principal .container {
        min-height: 927px;
    }
    .banner-principal {
        color: white;
        text-align: left;
    }
    footer>.row {
        min-height: 81px;
    }
    h3 {
        font-size: 64px;
    }
    .worktogether {
        min-width: 400px;
    }
    .workdiv {
        min-height: 1300px;
    }
}